nav {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav-container {
    display: flex;
    background-color: #072941;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;

    .nav-items {
        ul {
            display: flex;
            list-style: none;
            column-gap: 30px;
            align-items: center;
            li {
                a {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: #FFFFFF;
                    &:hover {
                        color: #DCF227;
                    }
                }
            }
        }
    }
}

.nav-subnav {
    background-color: #DCF421;
    display: flex;
    justify-content: flex-end;
    ul {
        margin: 5px;
        padding: 0 20px;
        display: flex;
        list-style: none;
        column-gap: 20px;
        align-items: center;
        li {
            color: #072B3B;
        }
    }
}

.cart-icon {
    margin: 0 !important;
    padding: 0 !important;
    color: #FFFFFF !important;
}
.css-1to51ap-MuiBadge-root .MuiBadge-badge {
    background: #DCF421;
    border-color: #072941 !important;
    color: #072941 !important;
}